* text=auto eol=lf
*.sh text eol=lf
*.py text eol=lf
*.ps1 text eol=crlf
*.md text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.c text eol=lf
*.h text eol=lf
**/S60device-gateway text eol=lf
*.png binary
embedded-linux/third_party/** linguist-vendored -whitespace
